OPENAI_API_KEY=""

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL=""

DATABASE_URL=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

LANGSMITH_TRACING=""
LANGSMITH_ENDPOINT=""
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""

POLAR_ACCESS_TOKEN=""
GOOGLE_API_KEY=""

SERPAPI_API_KEY=""